@using Syncfusion.Blazor.Internal;
@using Microsoft.AspNetCore.Components.Web;
@namespace Syncfusion.Blazor.Navigations
@inherits SfBaseComponent;

<SyncfusionLicense></SyncfusionLicense>
<ResourceManager></ResourceManager>

<div @ref="@element" @attributes="attributes">@ChildContent</div>
